
table, table th, table td {
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

tr td:first-child {
	font-weight: bold;
	text-align: right;
}

table {
	border: none;
	margin-bottom: 0 auto;
	font-weight: normal;
}

.layoutBlock {
	position: relative;
}

.divBlock {
	margin-top: 20px;
	margin-bottom: 40px;
}

.dateSpan {
	margin-right: 10px;
}

.backButton {
	margin-left: 20px;
	margin-right: 20px;
}
