#MySQL Connection:

db_host='localhost'
db_user='piikki'
db_pass=''
db_database='piikki'

#Long hard password, it doesn't need to be written anywhere
common_password=''

#Url to base directory where index.html is. Example: www.url.fi/piikki/
baseUrl=''

#Gmail config
mail_address='myusername@gmail.com'
mail_username='myusername'
mail_password='password'

#Piikki account information:
bank_username='Piikki Mestari'
bank_address='IBAN_ABCDEFGHIJKLMN'